@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter-medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter-semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter-bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  /* Primary and Point Colors */
  --primary-color: rgb(255, 0, 53);
  --point-color: rgb(220, 255, 80);

  /* Background Colors */
  --bg-black: rgb(0, 0, 0);
  --bg-white: rgb(255, 255, 255);
  --bg-grey: rgb(238, 238, 238);
  --bg-red: rgb(255, 0, 53);
  --bg-lime: rgb(220, 255, 80);
  --bg-purple: rgb(107, 59, 155);

  /* Category Background Colors */
  --bg-high-protein: rgb(184, 141, 59);
  --bg-low-calories: rgb(19, 124, 193);
  --bg-pro: rgb(255, 230, 0);
  --bg-plus: rgb(37, 52, 60);
  --bg-serves: rgb(132, 132, 132);
  --bg-plant-based: rgb(95, 161, 11);
  
  /* Text Colors */
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-red: rgb(255, 0, 53);
  --color-grey: rgb(132, 132, 132);
  --color-green: rgb(0, 138, 34);

  /* Border Color */
  --border-color: rgb(229, 231, 235);

  --font-family: 'Inter', Helvetica, Arial, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Scroll bar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 13px;
}
::-webkit-scrollbar-track {
  background: var(--bg-white);
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #bc2131;
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px; 
    padding: 0 2rem;
  }
}

/* xl */
@media (min-width: 1280px) and (max-width: 1535.98px) {
  .container {
    max-width: 1280px;
  }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .container {
    max-width: 1024px;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 1023.98px) {
  .container {
    max-width: 768px;
  }
}

/* sm */
@media (min-width: 640px) and (max-width: 767.98px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 639.98px) {
  .container {
    max-width: 100%;
  }
}