.sidebar {
  height: calc(100vh - var(--sticky-header-height) - var(--progress-bar-height) - var(--sidebar-margin-top) - var(--top-header-height) ); 
  padding-right: 2rem;
  overflow-y: scroll;
}

.divider {
  border: 0.5px solid var(--border-color);
  margin: .75rem 0 1.25rem 0;
  transform: scaleY(0.1);
}



