.topHeader {
  background: var(--bg-lime);
  color: var(--color-black);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  z-index: 10;
}
.topHeader .info{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  font-size: 14px;
  font-weight: 600;
}

.topHeader .info a {
  text-decoration: underline;
  padding: 0 .3rem
} 
